<!DOCTYPE html>
<html lang="en" ng-app="Feedback" xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YetAnother</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <link href="/resources/css/style.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
    <script src="/resources/js/feedback/feedback-module.js"></script>
    <script src="/resources/js/feedback/controllers/feedback-controller.js"></script>
    <script src="/resources/js/feedback/rest/feedback-ajax.js"></script>
</head>

<body ng-controller="FeedbackController as $ctrl">

<br>
<span class="hidden" id="Action" th:text="${Action}">whatToDo</span>

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <button id="BackButton"
                        class="btn btn-default green_button"
                        onclick="history.back()">
                    Back
                </button>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <p class="header">
                    Ticket (<span id="TicketId" th:text="${TicketId}">1</span>) - {{$ctrl.ticket.name}}
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6"></div>
</div>

<br><br>

<!-- new section -->
<div ng-if="feedbackFlag === 'new'">

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-8 height20">
                    Please, rate your satisfaction with the solution:
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="row">
                <form id="feedbackForm"
                    th:object="${FeedbackModel}">
                    <div class="col-dm-10">
                        <table>
                            <tr>
                                <td ng-repeat="number in $ctrl.rates">
                                    <img ng-if="$ctrl.starFlag != number"
                                         src="/resources/img/star1.png"
                                        ng-click="$ctrl.clickOnImg(number)">
                                    <img ng-if="$ctrl.starFlag == number"
                                        src="/resources/img/star2.png"
                                        ng-click="$ctrl.clickOnImg(number)">
                                    <input ng-if="$ctrl.starFlag == number"
                                        type="hidden" id="*{rate}"
                                        name="rate" value="{{number}}"/>
                                </td>
                            </tr>
                            <tr>
                                <td ng-repeat="number in $ctrl.rates">
                                    <p class="center_align margin_top">
                                        {{number}}
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-dm-2"></div>
                    <br><br><br>
                    <div class="col-md-12">
                        <textarea form="feedbackForm"
                              class="fullwidth"
                              rows="10"
                              th:field="*{text}">
                        </textarea>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

    <br><br>

    <div class="row">
        <div class="col-md-6" sec:authorize="isAuthenticated()">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <a class="btn btn-default green_button"
                       role="button" href='/'>
                        Logout
                    </a>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <button id="submitButton" class="btn btn-default green_button"
                ng-click="$ctrl.submitForm()">
                Submit
            </button>
        </div>
        <div class="col-md-1"></div>
    </div>

    <br>
</div>

<!-- view section -->
<div ng-if="feedbackFlag === 'view'">

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-8 height20">
                    Feedback
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-dm-10">
                    <table>
                        <tr>
                            <td ng-repeat="number in $ctrl.rates">
                                <img ng-if="$ctrl.feedback.rate != number"
                                     src="/resources/img/star1.png">
                                <img ng-if="$ctrl.feedback.rate == number"
                                     src="/resources/img/star2.png">
                            </td>
                        </tr>
                        <tr>
                            <td ng-repeat="number in $ctrl.rates">
                                <p class="center_align margin_top">
                                    {{number}}
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-dm-2"></div>
                <br><br><br>
                <div class="col-md-12">
                    <textarea readonly rows="10"
                          class="fullwidth">{{$ctrl.feedback.text}}
                    </textarea>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

    <br>

    <div class="row" sec:authorize="isAuthenticated()">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <a class="btn btn-default green_button"
                       role="button" href='/'>
                        Logout
                    </a>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>

    <br>
</div>

</body>
</html>