<!DOCTYPE html>
<html lang="en" ng-app="LoginModule" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YetAnother</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <link href="/resources/css/style.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
    <script src="/resources/js/login/login-module.js"></script>
    <script src="/resources/js/login/controllers/login-controller.js"></script>
</head>
<body ng-controller="LoginController as $ctrl">

<p style="height: 5em"></p>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2>Login to the Help Desk</h2>
    </div>
    <div class="col-md-4"></div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div th:if="${param.error != null}"
         class="col-md-4 alert alert-danger"
         role="alert">
        Please make sure you are using a valid email or password
    </div>
    <div th:if="${param.error == null}"
         class="col-md-4 height15">
        <p></p>
    </div>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-7 form-group">
        <form id="LoginForm" name="LoginForm"
              th:action="@{/}" method="POST" role="form">
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label font_larger"
                           for="username">
                        User Name
                    </label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="username"
                           class="form-control fullwidth"
                           ng-model="username"
                           name="username" autofocus="autofocus"
                           ng-maxlength="100"
                           ng-pattern="loginRegexp"
                           required/>
                </div>
                <div class="col-md-4">
                    <div class="alert alert-danger" role="alert"
                         ng-if="LoginForm.username.$error.required">
                        Please fill out the required field.
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label font_larger" for="password">
                        Password
                    </label>
                </div>
                <div class="col-md-6">
                    <input type="password" id="password"
                           ng-model="password"
                           class="form-control fullwidth"
                           name="password" ng-maxlength="20"
                           ng-minlength="6" required
                           ng-pattern="passwordRegexp"
                           ng-keypress="$ctrl.pressEnter($event)"/>
                </div>
                <div class="col-md-4">
                    <div class="alert alert-danger" role="alert"
                         ng-if="LoginForm.password.$error.required">
                        Please fill out the required field.
                    </div>
                </div>
            </div>
            <input type="hidden" name="${_csrf.parameterName}"
                   value="${_csrf.token}"/>
            <br>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-3">
                    <button ng-click="$ctrl.checkInput()"
                            type="button"
                            class="btn btn-default form-control common_button">
                        Enter
                    </button>
                </div>
                <div class="col-md-4"></div>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

</body>
</html>